.footer-container {
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 39px;

    @media (max-width: 375px) {
        padding-bottom: 50px;

    }

    span {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #7B8BAD;
    }
}