.middle-container {
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 0 165px;
    gap: 30px;
    margin-top: 30px;

    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 200px 1fr;
    }

    @media (max-width: 375px) {
        padding-left: 0px;
        padding-right: 24px;
        grid-template-columns: 129px 1fr;
        gap: 24px;

    }


    .right-middle-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 125px;

        @media (max-width: 768px) {
            grid-column: -3/-1;
            flex-direction: row;
            justify-content: flex-start;
            margin-left: 0;
            gap: 36px;
        }

        @media (max-width: 375px) {
            flex-direction: column;
            padding: 24px;
            align-content: center;
            justify-content: center;
        }

        .right-middle_header {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 36px;
            text-transform: uppercase;
            color: #162542;
            max-width: 255px;
            @media (max-width: 375px) {
                text-align: center;
            }
        }

        .right-middle_text {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: #7B8BAD;
            max-width: 255px;

            @media (max-width: 768px) {
                max-width: 398px;
            }
            @media (max-width: 375px) {
                text-align: center;
            }

        }
    }

    .orange-img-container {
        background: #F16718;
        z-index: 2;
        border-radius: 10px;

        @media (max-width: 768px) {
            width: 214px;
        }

        @media (max-width: 375px) {
            width: 129px;
        }

        .orange-img {
            width: 225px;
            height: 480px;
            border-radius: 10px;
            mix-blend-mode: multiply;
            opacity: 0.75;
            border-radius: 10px;

            @media (max-width: 768px) {
                width: 214px;
                height: 320px;
            }

            @media (max-width: 375px) {
                width: 129px;
                height: 193px;
            }

        }
    }

    .img-middle {
        width: 445px;
        height: 480px;
        border-radius: 10px;

        @media (max-width: 768px) {
            height: 320px;
        }

        @media (max-width: 375px) {
            width: 220px;
            height: 193px;
        }
    }
}